:local(.pageGame) .header {
    background-color: darkblue;
    height: 20vh;
    width: 100%
}
:local(.pageGame) .body {
    height: 80vh;
}

:local(.pageGame) .game {
    float: left;
    width: 80vw;
}

:local(.pageGame) .menu-right {
    background-color: darkgreen;
    width: 20vw;
    height: 100%;
    position: absolute;
    right: 0;
}

:local(.pageGame) .list-joueur {
}

:local(.pageGame) .chat {
}

:local(.pageGame) .gameHide {
    display: none;
}

